
    {{>header}}

    <div id="content">
      <div id="settings" class="box">
        <div class="box-title">
          <h2>Game Settings</h2>
        </div>
        <div class="box-content">
          <form action="./four" method="POST" id="form">
            <div>
              <label for="playerId">Pseudo</label>
              <input type ="text" id="playerId" name="player" />
            </div>
            <div>
              <label for="roomId">Room</label>
              <input type ="number" id="roomId" name ="room"/>
            </div>
            <div>
              <label for="color">Token's color </label>
              <input type="color" id="color" name="color"/>
              </div>
              <div id="submit-button">
                 <button type="button" onClick="checkInput();">Submit</button>
              </div>
          </form>
        </div>
      </div>
      <div id="hit-parade" class="box">
        <div class="box-title">
          <h2>Hit-parade</h2>
        </div>
        <div class="box-content">
          <ol>
            {{#each scores}}
              {{> playerScore}}
            {{/each}}
          </ol>
        </div>
      </div>
      <div id="rules" class="box">
        <div class="box-title">
          <h2>Rules</h2>
        </div>
        <div class="box-content">
        <p>The connect 4 is a game.

        Objective: Connect four of your checkers in a row while preventing your opponent from doing the same.
        When a checker is played, it must be allowed to fall into the bottommost position on the grid.


        </p>
        </div>
      </div>

      <div class ="box">
			<div id="Mainwrapper">
            <div class="status"></div>
                <input name="namemsg" type="text"  id="Mainnamemsg" placeholder="Enter your Name" />
                <button type="button">Submit</button>
	    			<div id="Mainchatbox"></div>

	        			<input type="text" id="Mainusermsg" placeholder="Enter Message" size="63"></textarea>
			</div>
    </div>

    </div>
    <div id="footer">
      <p>This is a footer</p>
    </div>
    {{#if error}}
    <script>
      window.alert("{{text}}");
    </script>
    {{/if}}
    <script type="text/javascript" src="./randomColors.js"></script>
    <script type="text/javascript" src="./index.js"></script>
  </body> 
</html>
