<div class = "board-column">
	<div class = "chip-slot"></div>
	<div class = "chip-slot"></div>
	<div class = "chip-slot"></div>
	<div class = "chip-slot"></div>
	<div class = "chip-slot"></div>
	<div class = "chip-slot"></div>
</div>
